body{
font-family:Arial, sans-serif;
scroll-behavior:smooth;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
background:#f8f9fa;
}

.profile-img{
width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
box-shadow:0 0 20px rgba(0,0,0,.2);
}

.skill-card{
transition:.4s;
}

.skill-card:hover{
transform:translateY(-10px);
}

.project-card{
transition:.4s;
}

.project-card:hover{
transform:scale(1.03);
}

.card-img-top{
height:220px;
object-fit:cover;
}

section{
padding-top:70px;
}